<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список машин</title>
    <style>table th, table td {padding: 5px;}</style>
</head>
<body>

<table border="2">
    <tr>
    <th>Классификация</th>
    <th>Модель</th>
    <th>Год выпуска</th>
    </tr>

<tr th:each="car : ${cars}">
    <td th:text="${car.getClassification()}"/>
    <td th:text="${car.getModel()}"/>
    <td th:text="${car.getYearOfManufacture()}"/>
</tr>

</table>

</body>
</html>